.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 .5rem 0;
    min-width: rem;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.8rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: white;
    position: relative;
}

.button:hover, .button:focus {
    background-color: #14679e;
}
//--------------
.button.alert {
    background-color: $primary;
}
.button.alert:hover, .button.alert:focus {
    background-color: $primary-hover;
    text-shadow: 1px 1px 0 $primary-hover;
}
//--------------
.button.info {
    background-color: $info;
}
.button.info:hover, .button.info:focus {
    background-color: $info-hover;
    text-shadow: 1px 1px 0 $info-hover;
}
//--------------
.button.success {
    background-color: $success;
}
.button.success:hover, .button.success:focus {
    background-color: $success-hover;
    text-shadow: 1px 1px 0 $success-hover;
}
//--------------
.button.warning {
    background-color: $warning;
}
.button.warning:hover, .button.warning:focus {
    background-color: $warning-hover;
    text-shadow: 1px 1px 0 $warning-hover;
}