.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 .5rem 0;
    font-size: .8rem;
    letter-spacing: 1px;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.85rem 1rem;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: white;
    position: relative;
}

.button:hover, .button:focus {
    background-color: #14679e;
    text-decoration: none;
}
//--------------
.button.alert {
    background-color: $primary;
}
.button.alert.cancel-enrollment {
    padding: 10px 5px;
}
.button.alert:hover, .button.alert:focus {
    background-color: $primary-hover;
    text-shadow: 1px 1px 0 $primary-hover;
}
//--------------
.button.cancel {
    background-color: #333;
}
.button.cancel:hover, .button.cancel:focus {
    background-color: $cancel-hover;
    text-shadow: 1px 1px 0 $cancel-hover;
    color: white;
}
//--------------
.button.info {
    background-color: $info;
}
.button.info:hover, .button.info:focus {
    background-color: $info-hover;
    text-shadow: 1px 1px 0 $info-hover;
}
//--------------
.button.success {
    background-color: $success;
}
.button.success:hover, .button.success:focus {
    background-color: $success-hover;
    text-shadow: 1px 1px 0 $success-hover;
}
