

.overlay {
    position: fixed;
    display: block;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: black;
    opacity: .65;
    z-index: 5;
  }
  .loading {
    background-image: url('/img/loading.gif');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 45px;
    text-align: center;
    z-index: 10;
}

  .large-modal, .med-modal {
    box-shadow: 0 0 190px #333;
    position: fixed;
    display: none;
    width: 90%;
    height: 80%;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    header {
      position: initial;
      height: 5rem;
      background: $wht;
      border: 0;
      border-bottom: 3px solid $gray-x-lt;
      box-shadow: none;
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
      top: 0;
      z-index: 1;
      .logo {
          float: left;
          background: url('../img/canon-logo.png') no-repeat;
          height: 3rem;
          width: 11rem;
          display: block;
          h1 {
              position: absolute;
              left: -99999px;
          }
      }
    }
  }

  .med-modal {
    width: 50%;
    @media (max-width: 766px) {
      width: 90%;
    }
  }

  .custom-modal {
    padding: 2rem;
    box-shadow: 0 0 190px #333;
    position: fixed;
    display: none;
    max-width: 30rem;
    width: 90%;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    select {
        width: 100%;
        padding: .4rem;
        font-size: 14px;
        &:disabled {
          border: 1px solid #ccc;
          cursor: not-allowed;
          background-color: #eee;
        }
    }
    &__title {
     // text-align: center;
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }

  .close-overlay {
    position: absolute;
    right: -1rem;
    top:-1rem;
    text-align: center;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 3px solid $gray-x-dark;
    color: $gray-x-dark;
    z-index: 15;
    &:hover {
      border: 3px solid $primary;
      color: $primary;
      cursor: pointer;
    }
  }

.format-data {
  margin-bottom: .75rem;
}

.error-title {
  color: $primary;
  display: block;
  width: 100%;
  margin-bottom: .75rem;
  padding: .5rem;
  background-color: mix(white, $primary, 75%);
  font-weight: normal;
  font-size: 15px;
}

form .error + .error {
  color: $primary;
  display: block;
  width: 100%;
  padding: .2rem .7rem;
  background-color: mix(white, $primary, 75%);
  margin-top: 2px;
  font-weight: normal;
  font-size: 13px;
}
@keyframes blinkie {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.waiting {
  opacity: 0;
  animation: blinkie .8s ease-in-out infinite;
}
.response-success {
  display: block;
  width: 100%;
  padding: .65rem;
  background-color: mix(white, $success, 75%);
  border: 1px solid $success;
  color: $success;
}
.confirm-message {
  display: block;
  width: 100%;
  font-weight: bold;
}
.modal-hints {
  font-size: .9rem;
  margin-top: 2rem;
}


.button-section {
  text-align: right;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 -15px 30px -16px #999;
}
.rem-box {
  box-shadow: none;
}
