
body {
  background: $body-bg;
  margin: 4rem 0;
  font-family: $font-family;
  color: $gray-med;
}
.pad-hrz-sm {
    padding: 0 .5rem;
}
.pad-hrz-med {
    padding: 0 1.5rem;
}
header {
    background: $wht;
    position: fixed;
    border-bottom: 3px solid $gray-x-lt;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    top: 0;
    z-index: 1;
    .logo {
        float: left;
        background: url('../img/canon-logo.png') no-repeat;
        height: 3rem;
        width: 11rem;
        display: block;
        h1 {
            position: absolute;
            left: -99999px;
        }
    }
    nav {
        color: $gray-dark;
        float: right;
        margin-top: .5rem;
        text-transform: uppercase;
        ul {
            margin: 0;
            padding: 0;
            font-size: .75rem;
            li {
                display: inline-block;
                margin-left: -2px;
                padding: .5rem;
            }
            i {
                font-size: 1rem;
                padding-right: .4rem;
                position: relative;
                top: 2px;
            }
        }
    }
}
footer {
    background: $gray-x-dark;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    padding: .5rem;
    font-size: .75rem;
    .foot-content {
      width: 100%;
      margin: 0 auto;
      color: $wht;
    }
  }

hr {
    width: 85%;
    margin: 0 0 .5rem 0;
}
.receipt-image {
    text-align: center;
}

// ------------------------------------
.custom-container {
    width: 600px;
    padding: 0 2rem;
    max-width: 100%;
    margin: 7rem auto;
    overflow: auto;
    @media (max-width: 600px) {
        width: 100%;
    }
    h2 {
        font-weight: 400;
        color: $gray-med;
        margin-bottom: 2rem;
    }
    p, ul {
        line-height: 1.5;
    }
    label {
        line-height: 1;
    }
    h3 {
        margin-bottom: 1.5rem;        
    }
    img {
        width: 100%;
    }
}
.sign-in {
    margin-top: 2rem;
    width: 450px;
    @media (max-width: 600px) {
        width: 100%;
    }
    .button-ct {
        text-align: right;
    }
    .forgot-link {
        display: inline-block;
        padding: 12px 18px;
        margin: 10px 0;
    }
}
.centered {
    width: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .sign-in-container {
        width: 25rem;
        margin: 0 auto;
        background-color: white;
        padding: 2rem;
        border: 1px solid #ccc;
    }
}
section {
  padding: 2rem;
  box-shadow: 0 8px 20px #ababab;
  width: calc(50% - 2rem);
  height: 10rem;
  margin: 1rem;
  float: left;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;
  font-weight: 900;
  transition: transform .2s ease;
  &:hover {
         transform:  translateY(-3px);
  }
  & .sect-icon {
      padding-top: .5rem;
      font-size: 3rem;
      float: left;
      height: 3rem;
      width: 3rem;
  }
  & .sect-title {
    margin-left: 4rem;
  }
  &.sect-1 {
      background-color: $section-1A;
      border: 3px solid $section-1;
      color: $wht;
  }
  &.sect-2 {
    background-color: $section-2A;
    border: 3px solid $section-2;
    color: $wht;
  }
  &.sect-3 {
    background-color: $section-3A;
    border: 3px solid $section-3;
    color: $wht;
  }
  &.sect-4 {
    background-color: $section-4A;
    border: 3px solid $section-4;
    color: $wht;
  }
}