
body {
  margin: 4rem 0;
  font-family: $font-family;
  color: $font-color;
}

header {
    background: $wht;
    position: fixed;
    box-shadow: 2px 2px 2px 2px #ccc;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    top: 0;
    z-index: 1;
    will-change: top;
    .logo {
        float: left;
        background: url('../img/canon-logo.png') no-repeat;
        height: 3rem;
        width: 11rem;
        display: block;
        h1 {
            position: absolute;
            left: -99999px;
        }
    }
    #menu  {
        @media (max-width: 767px) {
                display: block;
                list-style-type: none;
                position: fixed;
                top: 0;
                transform: translateX(-41rem);
                width: 80%;
                background: rgba(0, 0, 0, 0.85);
                padding: 1rem;
                margin: 0;
                transition: transform 450ms cubic-bezier(0.22, 0.61, 0.36, 1);
                z-index: 10;
                height: 100%;
                text-transform: uppercase;
                
                  ul {
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                    li {
                        display: block;
                        color:#ccc;
                        a {
                            padding: .5rem;
                            display: block; 
                            color:#ccc;
                            text-decoration: none;
                            &:hover {
                                color: white;
                                background-color: #666;
                        }
                        i {
                            display: none;
                        }
                    }
                }
            }
        }
        @media (min-width: 768px) {
            color: $gray-dark;
            float: right;
            margin-top: .5rem;
            text-transform: uppercase;
            
            ul {
                margin: 0;
                padding: 0;
                font-size: .75rem;
                li {
                    display: inline-block;
                    margin-left: -2px;
                    padding: .5rem;
                    i {
                        font-size: 1rem;
                        padding-right: .4rem;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    } // End #menu
} // End header

footer {
    background: $gray-x-dark;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    padding: .5rem;
    font-size: .75rem;
    will-change: bottom;
    .foot-content {
      width: 100%;
      margin: 0 auto;
      color: $wht;
    }
  }

hr {
    width: 85%;
    margin: 0 0 .5rem 0;
}
.receipt-image {
    text-align: center;
}

// ------------------------------------
.custom-container {
    width: 600px;
    padding: 0 2rem;
    max-width: 100%;
    margin: 7rem auto;
    overflow: auto;
    @media (max-width: 600px) {
        width: 100%;
    }
    h2 {
        font-weight: 400;
        color: $gray-med;
        margin-bottom: 2rem;
    }
    p, ul {
        line-height: 1.5;
    }
    label {
        line-height: 1;
    }
    h3 {
        margin-bottom: 1.5rem;        
    }
    img {
        width: 100%;
    }
}
.sign-in {
    margin-top: 2rem;
    width: 450px;
    @media (max-width: 600px) {
        width: 100%;
    }
    .button-ct {
        text-align: right;
    }
    .forgot-link {
        display: inline-block;
        padding: 12px 18px;
        margin: 10px 0;
    }
}
.centered {
    width: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .sign-in-container {
        width: 25rem;
        margin: 0 auto;
        background-color: white;
        padding: 2rem;
        border: 1px solid #ccc;
    }
}
