
  .mobile-menu-section {
    position: absolute;
    height: 3rem;
    right: 0;
    padding-top: 1rem;
    width: 4rem;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .hamburger-container {
    width: 50px;
    height: 45px;
    position: relative;
    margin-top: -.8rem;
    cursor: pointer; 
  }
  .hamburger-container span {
    background: #999;
    display: block;
    position: absolute;
    height: 5px;
    transform: rotate(0deg);
    transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 1;
    width: 2rem; 
  }
  span {
    border-radius: 10px;
    left: 0; 
  }
  .hamburger span:nth-child(1) {
    top: 0px; 
  }
  .hamburger span:nth-child(2), 
  .hamburger span:nth-child(3) {
    top: 12px; 
  }
  .hamburger span:nth-child(4) {
    top: 24px; 
  }
  #btnControl {
    display: none; 
  }
  #btnControl:checked + label > div > span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; 
  }
  #btnControl:checked + label > div > span:nth-child(2) {
    transform: rotate(45deg); 
  }
  #btnControl:checked + label > div > span:nth-child(3) {
    transform: rotate(-45deg); 
  }
  #btnControl:checked + label > div > span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; 
  }
  .active {
   transform: translateX(-1rem) !important;
  }

  #toggle {
    z-index: 10;
    opacity: 1;
    background: transparent;
    height: 3rem;
    width: 3rem;
    box-shadow: none;
  }
  