
  .mobile-menu-section {
    position: absolute;
    right: 1rem;
    top: .5rem;
    height: 3rem;
    padding-top: 1rem;
    width: 4rem;
    @media (min-width: 767px) {
      display: none;
    }
  }
  .hamburger-container {
    width: 50px;
    height: 45px;
    position: relative;
    margin-top: -.8rem;
    cursor: pointer; 
  }
  .hamburger-container span {
    background: #666;
    display: block;
    position: absolute;
    height: 7px;
    transform: rotate(0deg);
    transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 1;
    width: 100%; 
  }
  span {
    border-radius: 10px;
    left: 0; 
  }
  .hamburger span:nth-child(1) {
    top: 0px; 
  }
  .hamburger span:nth-child(2), 
  .hamburger span:nth-child(3) {
    top: 18px; 
  }
  .hamburger span:nth-child(4) {
    top: 36px; 
  }
  #btnControl {
    display: none; 
  }
  #btnControl:checked + label > div > span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; 
  }
  #btnControl:checked + label > div > span:nth-child(2) {
    transform: rotate(45deg); 
  }
  #btnControl:checked + label > div > span:nth-child(3) {
    transform: rotate(-45deg); 
  }
  #btnControl:checked + label > div > span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; 
  }
  .active {
   transform: translateX(-1rem) !important;
  }
  #mobile-menu {
    display: block;
    list-style-type: none;
    position: fixed;
    top: 0;
    transform: translateX(-31rem);
    width: 30rem;
    background: rgba(0, 0, 0, 0.85);
    padding: 1rem;
    margin: 0;
    transition: transform 450ms cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: 10;
    height: 100%;
    text-transform: uppercase;
    @media (min-width: 767px) {
      display: none;
    }
      ul {
          margin: 0;
          padding: 0;
          font-size: 1.3rem;
          li {
            display: block;
              a {
              padding: .5rem;
              display: block; 
              color:#ccc;
              text-decoration: none;
              &:hover {
                color: white;
                background-color: #666;
              }
            }
          }
      }

  }
  #toggle {
    z-index: 10;
    opacity: 1;
    background: transparent;
    height: 3rem;
    width: 3rem;
    box-shadow: none;
  }
  