@font-face {
  font-family: 'ars-admin';
  src:  url('fonts/ars-admin.eot?mskdgk');
  src:  url('fonts/ars-admin.eot?mskdgk#iefix') format('embedded-opentype'),
    url('fonts/ars-admin.ttf?mskdgk') format('truetype'),
    url('fonts/ars-admin.woff?mskdgk') format('woff'),
    url('fonts/ars-admin.svg?mskdgk#ars-admin') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ars-admin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-circle-o:before {
  content: "\e900";
}
.icon-comment-alt2-stroke:before {
  content: "\e901";
}
.icon-comment-alt2-fill:before {
  content: "\e902";
}
.icon-checkmark:before {
  content: "\e903";
}
.icon-check-alt:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e905";
}
.icon-x-altx-alt:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-plus-alt:before {
  content: "\e908";
}
