
.pad-hrz-sm {
    padding: 0 .5rem;
}
.pad-hrz-med {
    padding: 0 1.5rem;
}
.primary {
    color: $primary;
    padding: 1rem 0;
}
.error {
    color: $primary;
    display: block;
    width: 100%;
    padding: .3rem .7rem .5rem;
    background-color: mix(white, yellow, 50%);
    margin-top: 2px;
    font-weight: normal;
    font-size: 14px;
}

// Mixins
@mixin ellipsis {
    overflow:hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}
.required::before {
        content: ' * ';
        color: $primary;
}
// Overrides canon-external css, which puts 
// asterisk after the label text...
.required::after {
    content: '' !important;
}
